*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: url(https://fonts.google.com/specimen/Outfit);
}

body{
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta_presentacion{
    background-color: hsl(216, 50%, 16%);
    flex-direction: column;
    border-radius: 20px;
    width: 280px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagen-equilibrium{
    width: 250px;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.titulo-tarjeta{
    color: hsl(0, 0%, 100%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.titulo-tarjeta:hover{
    color: hsl(178, 100%, 50%);
}

.descripcion-tarjeta{
    color: hsl(215, 51%, 70%);
    padding-bottom: 20px;
}

.iconos{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.izquierda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    color: hsl(178, 100%, 50%);
}

.derecha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    color: hsl(215, 51%, 70%);
}

.creador{
    display: flex;
    align-items: center;
    padding-top: 15px;
    border-top: solid 2px hsl(215, 32%, 27%);
}

.creador p{
    margin-left: 20px;
}

.autor{
    color: hsl(0, 0%, 100%);
}

.autor:hover{
    color: hsl(178, 100%, 50%);
}

.imagen-avatar{
    width: 30px;  
    border: solid 1px hsl(0, 0%, 100%);
    border-radius: 50%;  
}